<a href="https://colab.research.google.com/github/bakeralexan/big-data-challenge/blob/main/AlexaBigData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import dependencies
import os
spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

In [ ]:
# * For each notebook (one dataset per notebook), complete the following:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrameBasics").getOrCreate()

  dataframe = spark.createDataFrame([
                                    (0, "Here is our DataFrame"),
                                    (1, "We are making one from scratch"),
                                    (2, "This will look very similar to a Pandas DataFrame")
  ], ["id", "words"])

  dataframe.show()
len(df)

In [ ]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/dataviz-curriculum/day_1/food.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("food.csv"), sep=",", header=True)

# Show DataFrame
df.show()

In [ ]:

#   * Count the number of records (rows) in the dataset.
df.dropna()
df.count()

In [ ]:
df.printSchema()

In [ ]:
#   * **Transform** the dataset to fit the tables in the [schema file](../Resources/schema.sql). 
# Be sure the DataFrames match in data type and in column name.
schema_df = df.select(["review_id", "customer_id", "product_id", "product_parent", "review_date"])
schema_df = schema_df.dropDuplicates(["review_id"])
schema_df.head()

In [ ]:
#   * **Load** the DataFrames that correspond to tables into an RDS instance. 
# **Note:** This process can take up to 10 minutes for each. Be sure that everything is correct before uploading.
from pyspark.sql.types import * 

schema_df = schema_df.withColumn("customer_id",schema_df["customer_id"].cast(IntegerType())).withColumn("product_parent",schema_df["product_parent"].cast(IntegerType())).withColumn("review_date",schema_df["review_date"].cast(DateType()))
schema_df.printSchema()

In [ ]:
### Level 2

# In Amazon's Vine program, reviewers receive free products in exchange for reviews.

#   ![vine01.png](../Images/vine01.png)

# Amazon has several policies to reduce the bias of its Vine reviews: [https://www.amazon.com/gp/vine/help?ie=UTF8](https://www.amazon.com/gp/vine/help?ie=UTF8).

# But are Vine reviews truly trustworthy? Your task is to investigate whether Vine reviews are free of bias. Use either PySpark or—for an extra challenge—SQL to analyze the data.

# * If you choose to use SQL, first use Spark on Colab to extract and transform the data and load it into a SQL table on your RDS account. Perform your analysis with SQL queries on RDS.